<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>137397697275-j8hj005qhh1svgqfbvm5vddvaqblv32f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.137397697275-j8hj005qhh1svgqfbvm5vddvaqblv32f</string>
	<key>API_KEY</key>
	<string>AIzaSyDz_Ybkli5i99rXVwfqkKez9EilGXhjXeA</string>
	<key>GCM_SENDER_ID</key>
	<string>137397697275</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sample</string>
	<key>PROJECT_ID</key>
	<string>reminder-mobx</string>
	<key>STORAGE_BUCKET</key>
	<string>reminder-mobx.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:137397697275:ios:c2338e9c6dd3a1022c0e5e</string>
</dict>
</plist>